[build]
  publish = "web"

[[redirects]]
  from = "/api/*"
  to = "https://iretro-server.onrender.com/api/:splat"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
