services:
  - type: web
    name: iretro-server
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    region: oregon
    plan: free
    envVars:
      - key: PORT
        value: 8080
    healthCheckPath: /health
